<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Rooms</title>
</head>
<body>
    <h1>채팅</h1>

    <!-- 채팅방 생성 버튼 -->
    <a href="{% url 'chat:create_room' %}">새로운 대화 시작하기</a>

    <ul>
        {% for participant in chat_rooms %}
            <li>
                <a href="{% url 'chat:room' participant.room.name %}">{{ participant.room_name }}</a>
            </li>
        {% empty %}
            <li>대화 중인 채팅방이 없습니다.</li>
        {% endfor %}
    </ul>
</body>
</html>
