<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List</title>
</head>
<body>
    <h1>Post List</h1>
    <a href="{% url 'insta:post-create' %}">글 업로드</a>

    {% for post in posts %}
        <div>
            <h2>{{ post.user.username }}</h2>
            {% if post.image %}
                <img src="{{ post.image.url }}"/>
            {% endif %}
            <p>{{ post.content }}</p>
            <p><strong>작성일:</strong> {{ post.created_at }}</p>
            {% if post.updated_at and post.created_at != post.updated_at %}
                <p><strong>수정일:</strong> {{ post.updated_at }}</p>
            {% endif %}

            {% if post.tags.all %}
            <p><strong>태그:</strong> {{ post.tags.all|join:", " }}</p>
            {% endif %}
            
            <a href="{% url 'insta:post-delete' post.id %}">글 삭제</a>

            <h3>댓글</h3>
            {% if post.comments.all %}
                {% for comment in post.comments.all %}
                    <div>
                        <p>{{ comment.content }}</p>
                        <a href="{% url 'insta:comment-delete' comment.id %}">댓글 삭제</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>댓글이 없습니다.</p>
            {% endif %}
        </div>
    {% empty %}
        <p>게시물이 없습니다.</p>
    {% endfor %}
</body>
</html>
